@import './variables.scss';

.achievements {
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;

  &-wrapper {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: center;
    margin: 1rem;
    transition: 0.6s opacity ease-in-out, 0.6s left ease-in-out,
      0.6s top ease-in-out, 0.4s transform ease-in-out !important;

    &-top {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;

      .wrapper-icon {
        fill: $color2;
        width: 3.8rem;
        height: 3.8rem;

        * {
          width: 100%;
          height: 100%;
        }
      }

      .heading {
        margin-left: 1rem;
        h3,
        span {
          margin: 0;
        }
        h3 {
          color: $color2;
          font-size: $font9;
          transition: 0.2s all ease-in-out;
        }
        span {
          font-size: $font4;
          color: $grey;
          font-style: italic;
        }
      }
    }

    &-bottom {
      .description {
        text-align: justify;
        color: $black;
        font-size: $font3;
        font-weight: 300;
      }
    }

    &:nth-child(odd) {
      .achievements-wrapper-top {
        .heading {
          h3 {
            color: $color1;
          }
        }
        .wrapper-icon {
          fill: $color1;
        }
      }
    }

    @media (hover: hover) {
      & {
        transform: scale(0.99);

        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}
