@import './variables.scss';

.experience {
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;

  &-wrapper {
    display: flex;
    flex-flow: row;
    height: inherit;

    &-content {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .edu {
      margin-bottom: 4rem;
    }

    .edu-last {
      margin-bottom: 1rem;
    }
  }
}
