@import './variables.scss';

.experience {
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;

  &-wrapper {
    display: flex;
    flex-flow: row;
    height: inherit;

    &-content {
      width: 98%;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;

      .list {
        margin-bottom: 0;
      }

      .headline-wrapper {
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        justify-content: flex-start;
        box-sizing: border-box;
        min-height: 6rem;

        &-icon {
          width: 5rem;
          margin-right: 1rem;
        }
      }
    }

    .edu {
      margin-bottom: 4rem;
    }

    .edu-last {
      margin-bottom: 1rem;
    }
  }
}
