@import './variables.scss';
@import './section.scss';
@import './transition.scss';
@import './text.scss';
@import './profile.scss';
@import './skills.scss';
@import './experience.scss';
@import './timeline.scss';
@import './achievements.scss';
@import './media.scss';
@import './footer.scss';

html,
body,
.viewport,
#__next {
  width: 100vw;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: $white;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// scroll progress bar
#scroll-progress {
  position: fixed;
  height: 0.5rem;
  z-index: 100;
  background-color: $color1;
  mix-blend-mode: multiply;
}

#social-links {
  display: flex;
  width: inherit;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  margin-top: 2rem;

  a {
    text-decoration: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 0.2rem 0;

    .link-text {
      margin-left: 0.4rem;
      color: $color1;
    }

    svg {
      * {
        fill: $color1;
      }
    }

    @media (hover: hover) {
      & {
        transition: 0.4s all ease-in-out;

        .link-text {
          color: $grey;
          transition: 0.4s all ease-in-out;
        }

        svg {
          * {
            transition: 0.4s all ease-in-out;
            fill: $grey;
          }
        }

        &:hover {
          transform: scale(1.04);

          .link-text {
            color: $color1;
          }

          svg {
            transition: 0.4s all ease-in-out;
            * {
              fill: $color1;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #social-links {
    a {
      .link-text {
        display: none;
      }

      svg {
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }
}
