@import './variables.scss';

html,
body,
.viewport,
#__next {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: $lightGrey;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: center;
  background-color: $white;
  padding: 1rem 0;

  &:nth-child(odd) {
    background-color: $white;
  }

  &:nth-child(even) {
    background-color: $lightGrey;
  }

  &-header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex: 0.4;
    box-sizing: border-box;
    padding: 1rem;
    transition: 0.6s all ease-out;

    h1 {
      font-size: $font2;
      text-transform: uppercase;
      color: $steelBlue;
      margin: 0;
    }
    h3 {
      font-size: $font3;
      color: $grey;
      margin: 0;
      font-weight: $light;
    }

    .picture {
      object-fit: cover;
      max-width: 70%;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 0 5px rgba($black, 0.1);
    }
  }

  &-body {
    padding: 1rem;
    flex: 1;
    width: 100%;
    display: flex;
    height: inherit;
    box-sizing: border-box;
    transition: 0.6s all ease-out;
  }
}

.full-height {
  height: 100%;
}

.footer-cta {
  background-color: $white !important;
  display: block;
  padding: 1rem 0;

  button {
    margin: 1rem auto;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid $steelBlue;
    outline: none;
    color: $steelBlue;
    cursor: pointer;
    transition: 0.2s all ease-in-out;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    @media (hover: hover) {
      & {
        border-color: $grey;
        color: $grey;

        &:hover {
          border-color: $steelBlue;
          background-color: $steelBlue;
          color: $white;
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}

.t-wrapper {
  position: relative;
  opacity: 0;
  transition: 0.6s opacity ease-in-out, 0.6s left ease-in-out,
    0.6s top ease-in-out;
}

.t-left-wrapper {
  @extend .t-wrapper;
  left: 2rem;
}

.t-top-wrapper {
  @extend .t-wrapper;
  top: -2rem;
}

.t-left-transition {
  opacity: 1;
  left: 0;
}

.t-top-transition {
  opacity: 1;
  top: 0;
}

@media (max-width: 810px) {
  .t-left-wrapper {
    left: 0rem;
    top: -2rem;
  }

  .t-top-wrapper {
    top: 0rem;
    left: 2rem;
  }

  .t-left-transition {
    opacity: 1;
    top: 0;
    left: 0;
  }

  .t-top-transition {
    opacity: 1;
    top: 0;
    left: 0;
  }

  .section {
    padding: 0;
    &-header {
      flex: 1;
      margin: 1rem 0;

      .picture {
        width: 10rem;
      }
    }
  }

  .full-height {
    height: fit-content;
  }

  .profile,
  .skills,
  .experience {
    padding: 0 1rem;
    width: 100%;
    flex: unset;
  }
  .profile {
    &-bottom {
      margin-top: 1rem;

      .details-item {
        width: 40%;
      }
    }

    &-section {
      align-items: center !important;

      .dw-resume {
        align-self: flex-start;
      }
    }

    .middle {
      align-items: flex-start i !important;
    }
  }

  .experience {
    &-wrapper {
      &-content {
        .r-list {
          padding-left: 1rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .section-body {
    padding: 0 0.5rem;
  }
  .profile {
    &-bottom {
      flex-flow: column !important;
      align-items: flex-start !important;

      .details-item {
        width: fit-content;
      }
    }
  }
}

@import './profile.scss';
@import './skills.scss';
@import './experience.scss';
@import './timeline.scss';
@import './achievements.scss';
