@import './variables.scss';
@import './profile.scss';
@import './skills.scss';
@import './experience.scss';
@import './timeline.scss';
@import './achievements.scss';

html,
body,
.viewport,
#__next,
#app {
  width: 100vw;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: $white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#scroll-progress {
  position: fixed;
  height: 0.5rem;
  z-index: 100;
  background-color: $color1;
  mix-blend-mode: multiply;
}

.section {
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: center;
  background-color: $white;
  padding: 1rem 0;

  .particle-bg {
    position: absolute;
  }

  &-header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex: 0.4;
    box-sizing: border-box;
    padding: 1rem;
    transition: 0.6s all ease-out;

    h1 {
      font-size: $font2;
      text-transform: uppercase;
      color: $steelBlue;
      margin: 0;
    }
    h3 {
      font-size: $font3;
      color: $black;
      margin: 0;
      font-weight: $light;
    }

    .picture {
      max-width: 80%;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba($black, 0.2);
      cursor: pointer;
      transition: 0.4s all ease-in-out;

      @include gradient;

      & > span {
        transform: scale(0.98);
        height: 100% !important;
        transition: 0.4s all ease-in-out;
      }

      img {
        border-radius: 50%;
      }

      @media (hover: hover) {
        &:hover {
          transform: scale(1.05);

          & > span {
            transform: scale(0.96);
          }
        }
      }
    }
  }

  &-body {
    padding: 1rem;
    flex: 1;
    width: 100%;
    display: flex;
    height: inherit;
    box-sizing: border-box;
    transition: 0.6s all ease-out;
  }

  &:nth-child(even) {
    background-color: transparent;

    & {
      .section-header {
        h1,
        h3 {
          @include gradient-text;
        }
      }
    }

    .timeline {
      .dot {
        border-color: $color1;
      }

      .line {
        background-color: $color2;
      }
    }

    .experience {
      &-wrapper {
        &-content {
          .heading,
          .subtext {
            @include gradient-text;
          }
        }
      }
    }
  }

  &:nth-child(odd) {
    @include gradient;

    & {
      .section-header {
        h1,
        h3 {
          color: $white;
        }
      }
    }

    .timeline {
      .dot {
        border-color: white;
      }

      .line {
        background-color: white;
      }
    }

    .experience {
      * {
        color: $white;
      }
    }
  }
}

.full-height {
  height: 100vh;
}

.footer-cta {
  background-color: $white !important;
  display: block;
  padding: 1rem 0;

  button {
    margin: 1rem auto;
    padding: 1rem;
    @include gradient;
    border: none;
    outline: none;
    color: $white;
    cursor: pointer;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    transition: 0.6s opacity ease-in-out, 0.6s left ease-in-out,
      0.6s top ease-in-out, 0.2s transform ease-in-out !important;

    @media (hover: hover) {
      & {
        &:hover {
          transform: scale(1.04);
        }
        &:active {
          transform: scale(1);
        }
      }
    }
  }
}

.t-wrapper {
  position: relative;
  opacity: 0;
  transition: 0.6s opacity ease-in-out, 0.6s left ease-in-out,
    0.6s top ease-in-out;
}

.t-left-wrapper {
  @extend .t-wrapper;
  left: 2rem;
}

.t-top-wrapper {
  @extend .t-wrapper;
  top: -2rem;
}

.t-left-transition {
  opacity: 1;
  left: 0;
}

.t-top-transition {
  opacity: 1;
  top: 0;
}

@media (max-width: 810px) {
  .t-left-wrapper {
    left: 0rem;
    top: -2rem;
  }

  .t-top-wrapper {
    top: 0rem;
    left: 2rem;
  }

  .t-left-transition {
    opacity: 1;
    top: 0;
    left: 0;
  }

  .t-top-transition {
    opacity: 1;
    top: 0;
    left: 0;
  }

  .section {
    &-header {
      flex: 1;
      margin: 1rem 0;

      .picture {
        width: 10rem;
      }
    }
  }

  .full-height {
    height: fit-content;
  }

  .profile,
  .skills,
  .experience,
  .achievements {
    padding: 0 1rem;
    width: 100%;
    flex: unset;
  }

  .profile {
    &-bottom {
      margin-top: 1rem;

      .details-item {
        .value {
          @include gradient-text;
        }
        svg {
          * {
            fill: $color1;
          }
        }
      }
    }

    &-section {
      align-items: center !important;

      .dw-resume {
        align-self: flex-start;
      }
    }

    .middle {
      align-items: flex-start i !important;
    }
  }

  .experience {
    &-wrapper {
      &-content {
        .r-list {
          padding-left: 1.4rem;
        }
      }
    }
  }

  .achievements {
    flex-flow: column wrap;
  }
}

@media (max-width: 500px) {
  .section-body {
    padding: 0 0.5rem;
  }
  .profile {
    &-bottom {
      .details-item {
        .value {
          svg {
            width: 1.4rem;
            height: 1.4rem;
          }
          .value-text {
            display: none;
          }
        }
        width: fit-content;
      }
    }
  }
}
