$lightGrey: #f4f4f4;
$black: #000000;
$steelBlue: #4682b4;
$lightBlue: #8ab9e1;
$grey: #6e6e6e;
$white: #ffffff;

$color1: #275186;
$color2: #525252;

$font1: 4.6rem;
$font2: 3rem;
$font3: 2.2rem;
$font4: 2rem;
$font5: 1.6rem;
$font6: 1.4rem;
$font7: 1.2rem;
$font8: 1rem;
$font9: 0.8rem;
$font10: 0.6rem;

$light: 300;
$regular: 500;
$bold: 700;

@mixin gradient {
  // background: #be93c5;
  // background: -webkit-linear-gradient(to left, #7bc6cc, #be93c5);
  // background: linear-gradient(to left, #7bc6cc, #be93c5);
  background: #525252;
  background: -webkit-linear-gradient(to bottom right, #3d72b4, #525252);
  background: linear-gradient(to bottom right, #3d72b4, #525252);
}

@mixin gradient-text {
  // background-color: #be93c5;
  // background-image: -webkit-linear-gradient(to left, #7bc6cc, #be93c5);
  // background-image: linear-gradient(to left, #7bc6cc, #be93c5);
  background-color: #525252;
  background-image: -webkit-linear-gradient(to bottom right, #3d72b4, #525252);
  background-image: linear-gradient(to bottom right, #3d72b4, #525252);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@mixin text-stroke {
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-color: $color1;
  -webkit-text-stroke-width: 1px;
}

@mixin vertical-text {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

@mixin font-r-3 {
  font-size: calc(3rem + 4vw);
}
